In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
import sagemaker
import s3fs
import boto3
import glob

In [44]:
%pip install --upgrade dtale

  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.11.0
    Uninstalling statsmodels-0.11.0:
      Successfully uninstalled statsmodels-0.11.0
Successfully installed Flask-Compress-1.12 brotli-1.0.9 dash-2.4.1 dash-bootstrap-components-1.1.0 dash-colorscales-0.0.4 dash-core-components-2.0.0 dash-daq-0.5.0 dash-html-components-2.0.0 dash-table-5.0.0 dtale-2.4.0 flask-ngrok-0.0.25 kaleido-0.2.1 lz4-4.0.1 missingno-0.4.2 pandas-1.3.5 scikit-learn-1.0.2 scipy-1.7.3 squarify-0.4.3 statsmodels-0.12.2 strsimpy-0.2.1 threadpoolctl-3.1.0 xarray-0.20.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the '/opt/conda/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [45]:
import dtale

ImportError: cannot import name 'escape' from 'jinja2' (/opt/conda/lib/python3.7/site-packages/jinja2/__init__.py)

## Parameters

Following parameters are used throughout the scenario

In [21]:
sagemaker_session = sagemaker.Session()
bucket = sagemaker_session.default_bucket()
s3 = sagemaker_session.boto_session.resource('s3')

region = boto3.Session().region_name
role = sagemaker.get_execution_role()
smclient = boto3.Session().client('sagemaker')
prefix = 'sagemaker-experiential_learning-2022'

In [35]:
## Create a blank folder and upload the datasets to these folders
train_path = "data/train.csv"
test_path = "data/test.csv"

In [39]:
## Copy datasets to s3 
!aws s3 cp ./data/ s3://$bucket/$prefix/data/ --recursive

upload: data/test.csv to s3://sagemaker-ap-south-1-957581082186/sagemaker-experiential_learning-2022/data/test.csv
upload: data/train.csv to s3://sagemaker-ap-south-1-957581082186/sagemaker-experiential_learning-2022/data/train.csv

In [ ]:
s3_train_path = "s3://{}/{}/{}".format(bucket,prefix,train_path)
s3_test_path = "s3://{}/{}/{}".format(bucket,prefix,test_path)

In [40]:
## Dataframe for train data
train_df = pd.read_csv(s3_train_path)

In [42]:
#Dataframe for test data
test_df = pd.read_csv(s3_test_path)

In [43]:
test_df

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,381110,Male,25,1,11.0,1,< 1 Year,No,35786.0,152.0,53
1,381111,Male,40,1,28.0,0,1-2 Year,Yes,33762.0,7.0,111
2,381112,Male,47,1,28.0,0,1-2 Year,Yes,40050.0,124.0,199
3,381113,Male,24,1,27.0,1,< 1 Year,Yes,37356.0,152.0,187
4,381114,Male,27,1,28.0,1,< 1 Year,No,59097.0,152.0,297
...,...,...,...,...,...,...,...,...,...,...,...
127032,508142,Female,26,1,37.0,1,< 1 Year,No,30867.0,152.0,56
127033,508143,Female,38,1,28.0,0,1-2 Year,Yes,28700.0,122.0,165
127034,508144,Male,21,1,46.0,1,< 1 Year,No,29802.0,152.0,74
127035,508145,Male,71,1,28.0,1,1-2 Year,No,62875.0,26.0,265
127036,508146,Male,41,1,29.0,1,1-2 Year,No,27927.0,124.0,231